Package: com.rango.gasolina
Name: Gasolina
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Architecture: iphoneos-arm
Description: Saves you some battery!
Maintainer: Rango
Author: Rango
Section: Tweaks
Depiction: https://yungspecht.github.io/depictions/?p=com.rango.gasolina
SileoDepiction: https://yungspecht.github.io/sileodepictions/com.rango.gasolina/depiction.json
Version: 0.2-20+debug
Installed-Size: 264
