Package: com.rango.gasolina
Name: Gasolina
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Saves you some battery!
Maintainer: Rango
Author: Rango
Section: Tweaks
Version: 0.1-1+debug
Installed-Size: 156
