<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	 	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBImageTableCell</string>
			<key>icon</key>
			<string>banner.png</string>
		</dict>
        <dict>
            <key>action</key>
            <string>twitterRango</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>@Yung_Specht</string>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Rango</string>
            <key>user</key>
            <string>Yung_Specht</string>
        </dict>

	    <!-- Gasolina Preferences -->
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.rango.gasolinaprefs</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.rango.gasolinaprefs/ReloadPrefs</string>
		</dict>
             <dict>
		    <key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.rango.gasolinaprefs</string>
			<key>key</key>
			<string>ToggleLPM</string>
			<key>label</key>
			<string>Toggle LPM with Gasolina</string>
			<key>PostNotification</key>
			<string>com.rango.gasolinaprefs/ReloadPrefs</string>
		</dict>

		<!-- Custom Settings -->
		<dict>
		    <key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Settings</string>
		</dict>
     	<dict>
		    <key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.rango.gasolinaprefs</string>
			<key>key</key>
			<string>NoLPMAutoLock</string>
			<key>label</key>
			<string>No LPM AutoLock</string>
			<key>PostNotification</key>
			<string>com.rango.gasolinaprefs/ReloadPrefs</string>
		</dict>	
		<dict>
		    <key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.rango.gasolinaprefs</string>
			<key>key</key>
			<string>NoBackgroundRefresh</string>
			<key>label</key>
			<string>No Background Refresh</string>
			<key>PostNotification</key>
			<string>com.rango.gasolinaprefs/ReloadPrefs</string>
		</dict>	
		<dict>
		    <key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.rango.gasolinaprefs</string>
			<key>key</key>
			<string>NoAutomaticAppLaunching</string>
			<key>label</key>
			<string>No Automatic App Launching</string>
			<key>PostNotification</key>
			<string>com.rango.gasolinaprefs/ReloadPrefs</string>
		</dict>
        <dict>
		    <key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.rango.gasolinaprefs</string>
			<key>key</key>
			<string>NoBackgroundNetworkUsage</string>
			<key>label</key>
			<string>No Background Network Usage</string>
			<key>PostNotification</key>
			<string>com.rango.gasolinaprefs/ReloadPrefs</string>
		</dict>
        <dict>
		    <key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.rango.gasolinaprefs</string>
			<key>key</key>
			<string>spoofLPState</string>
			<key>label</key>
			<string>Spoof a Low Power State</string>
			<key>PostNotification</key>
			<string>com.rango.gasolinaprefs/ReloadPrefs</string>
		</dict>		

		<!-- Miscellaneous -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Miscellaneous</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		
		<!-- Support Me -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support Me</string>
		</dict>
		 <dict>
            <key>action</key>
            <string>paypalRango</string>
            <key>cellClass</key>
            <string>HBLinkTableCell</string>
            <key>label</key>
            <string>PayPal</string>
            <key>url</key>
            <string>https://paypal.me/YungSpecht</string>
        </dict>
		
		
					<key>cellClass</key>

				<string>HBLinkTableCell</string>

				<key>label</key>

				<string>Support me</string>

				<key>url</key>

				<string>https://patreon.com/ConorTheDev</string>
		
		
		<!-- Credits -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Thank you for helping with Preferences</string>
		</dict>
		 <dict>
            <key>action</key>
            <string>twitterEsquilli</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>@EsquilliDev</string>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>EsquilliDev</string>
            <key>user</key>
            <string>EsquilliDev</string>
        </dict>
      </array>
	<key>title</key>
	<string>Gasolina</string>
</dict>
</plist>
