<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	    <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>headerCellClass</key>
            <string>HBImageTableCell</string>
            <key>height</key>
            <integer>133</integer>
            <key>icon</key>
            <string>banner.png</string>
        </dict>
		<dict>

			<key>cellClass</key>

			<string>HBTwitterCell</string>

			<key>label</key>

			<string>Rango</string>

			<key>user</key>

			<string>YungSpecht</string>

		</dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Gasolina Preferences</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.rango.gasolinaprefs</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
		    <key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Settings</string>
		</dict>
     	<dict>
		    <key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.rango.gasolinaprefs</string>
			<key>key</key>
			<string> No LPM AutoLock</string>
			<key>label</key>
			<string>No LPM AutoLock</string>
		</dict>	
		<dict>
		    <key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.rango.gasolinaprefs</string>
			<key>key</key>
			<string>No Background Refresh</string>
			<key>label</key>
			<string>No Background Refresh</string>
		</dict>	
		<dict>
		    <key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.rango.gasolinaprefs</string>
			<key>key</key>
			<string>No Automatic App Launching</string>
			<key>label</key>
			<string>No Automatic App Launching</string>
		</dict>	
			
	</array>
	<key>title</key>
	<string>Gasolina</string>
</dict>
</plist>
